* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(227, 227, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans'
}

.container {
    background-color: rgb(227, 227, 227);
    width: 1000px;
    height: 750px;
    padding: 1em;
    display: flex;
    flex-direction: row;
   
    
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.left-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.square {
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}

.left-one {
    background-color: hsl(31, 66%, 93%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.left-one p {
    font-size: 1.5em;
    font-weight: 500;
    padding: 3em 0 0 1em;
    line-height: 1;
    max-width: 7em;
}
    
.left-one img {
    width: 10em;
    margin: 0 auto;
    padding: 0 1em;
}

.italic-purple {
    font-style: italic;
    color: hsl(256, 67%, 59%)
}

.left-two {
    background-color: hsl(39, 100%, 71%) ;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.left-two p {
    font-size: 1.8em;
    font-weight: 500;
    padding: 1em 0 0.5em 0.5em;
    line-height: 1;
    
}

.left-two img { 
    width: 11em;
    margin: 0 auto;
    padding: 0.5em;
}

.square-col-top {
    gap: 10px;
    flex: 3;
    display: flex;
}


.square-col-bottom {
    
    flex: 1;
    display: flex;
    gap: 10px;
}

.bottom-row-left {

    flex: 1;
    background-color:hsl(0, 0%, 100%) ;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
  
}

.bottom-row-left img {
    width: 13em;
    padding: 1em 1em 0 0.5em;
}

.bottom-row-left p {
    font-size: 1em;
    padding: 0.5em 0 0 0.5em;
}

.bottom-row-left span {
    font-size: 4em
}

.bottom-row-right {
    
    flex: 1.85;
    border-radius: 5px;
    background-color: hsl(256, 67%, 59%) ;
    color: white;
    display: flex;
}

.bottom-row-right img  {
    width: auto;
    height: 12em;
    padding-left: 1em;
    align-self: center;
   
}

.bottom-row-right p  {
    font-size: 1.7em;
    padding-right: 5px;
    align-self: center;
 }

.col-top-right {
    flex: 1;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: hsl(254, 88%, 90%);
    border-radius: 5px;
    
    
    
}

.square-top-left {
    flex: 3;
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.col-top-right p:first-of-type {
    font-size: 1.4em;
    padding: 1em 1em 1em 1.3em;
    font-weight: 500;
    line-height: 1;
}

.col-top-right img {
    height: auto;
    width: 275px;
    margin-left: 1.5em;
}

.col-top-right p:last-of-type {
    padding: 1em 0 1em 2em;
    font-size: 0.8em;
}

.square-top {
    
    flex: 2.5;
    background-color: hsl(256, 67%, 59%) ;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.square-top p:first-of-type {
    font-size: 3em;
    color: white;
    text-align: center;
    line-height: 1;
    width: 7em;
    
}
.square-top img {
    width: 9em;
    height: auto;
    padding-top: 1em;
}

.square-top p:last-of-type {
    color: white;
    font-weight: 100;
    font-size: 1em;
    
}
.square-bottom {
gap: 10px;
flex: 2;
display: flex;
position: relative;
overflow: hidden;
    
    
}

.italic {
    font-style: italic;
}

.color-text {
    color: hsl(39, 100%, 71%)
}





.square-bottom-right {
    flex: 1;
    background-color: hsl(39, 100%, 71%);
    border-radius: 5px;
    flex-direction: column;
    display: flex;


   
  
}

.square-bottom-right img {
height: auto; 
width: 200px;
margin: 0 auto;
display: flex;

}

.square-bottom-right p {
    font-size: 1.3em;
    padding: 0.7em 1em 0.8em 1.6em;
    font-weight: 500;
    line-height: 1;

}

.square-bottom-left {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    
    
     
    }

.square-bottom-left img {
    height: auto; 
    width: 190px;
    margin-top: 0.5em;
    align-self: flex-end;
    
}

.square-bottom-left p {
 font-size: 1.5em;
 padding: 0.5em 0 0 1em;
 font-weight: 500;
 
}


/* SMALL SCREENS RULES START HERE */

@media screen and (max-width: 430px) {
  
    body {
        max-width: 100%;
      
        
        
    }
    .container {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        
       
       
    }
   .square {
    margin: 0;
    display: flex;
    
    
   }
.square-bottom {
    display: block;
    

}
.square-bottom-left {
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-right: 1em;

}



.square-bottom-right p {
    padding-left: 1em
}
.square-bottom-right img {
  margin-left: 1em;
  width: 15em
}

 .square-col-bottom {
    display: flex;
    flex-direction: column-reverse;
 }
.square-col-top {
    display: flex;
    flex-direction: column-reverse;
}
.bottom-row-right {
    flex-direction: column;
    padding: 0.5em;
    text-align: center;
}
.bottom-row-right img {
    margin: 0 auto;

}
.bottom-row-right p {
    max-width: 8em;
    font-size: 2em;
}
.square-top-left {
    order: 1;
}
.left-col {
    order: 2;
}
.left-two {
    margin-bottom: 1em;

}
.bottom-row-left {
    margin-bottom: 1em;
}
.square-top p:first-of-type {
    padding: 0.8em 0.5em 0 0.5em;

}
.square-top p:last-of-type {
    padding-bottom: 1em;
}
.square-top {
   flex: 1;
   padding: 1em
}
.col-top-right {
    flex: 2;
    text-align: center;
    
    
}
.col-top-right p:last-of-type {
padding: 1em 2em;
font-size: 1em
}
.col-top-right img {
    width: 20em;
    margin: 0 auto;
}

.left-one p {
padding-top: 2em
}

.left-one {
    padding-bottom: 1em;
    
}
}
    
.left-two p {
    max-width: 10em;
    padding-bottom: 0;
  
}
  
 .left-two img {
    width: 15em;
    margin-left: 0.5em;
    padding-top: 0;
 }
    




